@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PaymentGatewayService.Models.ViewModels.PaymentViewModel

<h4>Платежи</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form id="paymentForm" asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="@Model.PaymentBanks!.Total" class="form-label"></label>
                <input asp-for="@Model.PaymentBanks!.Total" class="form-control" />
                <span asp-validation-for="PaymentBanks!.Total" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <div class="mb-3">
                    @Html.DropDownList("PaymentBanks.Bank",
                        new SelectList(Model.SelectedBank, "Value", "Text"),
                        "-- Выберите банк --",
                        new { @class = "form-select", data_val = "true", data_val_required = "Выберите банк" })
                    <span asp-validation-for="PaymentBanks!.Bank" class="text-danger"></span>
                </div>
            </div>
           @* <input type="submit" value="Отправить" onclick="validateInput()" class="btn btn-primary" />*@
        </form>
        <input type="submit" id="submitBtn" value="Отправить"  class="btn btn-primary" />

    </div>
    
</div>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }

    <script>
        $(document).ready(function () {
            $("#paymentForm").validate(); // Инициализация валидации формы

            $("#submitBtn").click(function (event) {
                event.preventDefault(); // Отменяем стандартное действие кнопки submit

                var currency = $('input[name="PaymentBanks.Total"]').val();
                var bank = $('select[name="PaymentBanks.Bank"]').val();

                // Формируем объект данных для отправки
                var data = {
                    SelectedBank: null,
                    PaymentBanks: {
                        Total: currency,
                        Bank: bank,
                    },
                };
               
                // Проверка валидации формы
                if (!$("#paymentForm").valid()) {
                    // Отображение сообщений об ошибках
                    $("#paymentForm").validate().showErrors();
                    return;
                }

                $.ajax({
                    url: "/Payment/Create",
                    type: "POST",
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    success: function () {
                        // Обработка успешного выполнения запроса
                        alert("Данные успешно отправлены.");
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        // Обработка ошибки
                        alert("Произошла ошибка при отправке данных: " + errorThrown);
                    },
                });
            });
        });
    </script>

}